html 
    head 
        title PickyPicker
        link(rel='stylesheet', href='css/base.css')
    body(style="margin:0px;")
    
        nav(style = "display: flex; justify-content: space-between; background-color: var(--site-bg-color); border-bottom: 3px solid var(--site-border-color); padding: 20px;")
            div(style="display: flex; justify-content: space-between; width:15%;")
                a(href="/index") Home
                a(href='/about') About
            div(style="display: flex; justify-content: space-between; width:15%;")
                if loggedIn 
                    a(href="/user") Profile
                    a(href="/addMenu") Contribute
                else 
                    a(href="/login") Login
                    a(href="/signup") Sign Up
        div(style="margin:10px")
            block content 
        footer(style="background-color: var(--site-bg-color); padding: 20px; border-top: 3px solid var(--site-border-color);")
            p PickyPicker 




