extends base.pug

block content 
    p #{user}
    form(style='display: flex; flex-direction: column; width:50%; margin:auto; border: 3px solid darkslategrey; border-radius: 5px; padding:10px; background-color:aliceblue;' action='/login' method='POST')
        h3() Sign In
        div(style='width:100%; margin-bottom: 5px;')
            label(for='email') Email: 
            input(type='email' placeholder='johndoe@email.com' id='email' style='')
        div(style='width:100%; margin-bottom: 5px;')
            label(for='password') Password: 
            input(type='password' placeholder='*******' id='Password' style='')
        button() Sign In